.details
{
	font-size: 15px;
	margin: 40px 400px;

}
.volunteer_experience{
	margin: -130px 400px;
}
.skills{
	margin: 150px 400px;
}
.education{
	margin: -140px 400px;
}
.experience{
	margin: 150px 400px;
}
h5{
	font-size: 20px;
}
.description{
margin: -150px 400px;

}
h6
{
	font-size: 20px;
}
h2
{
font-size: 20px;
}
h5{
	font-size: 30px;
	margin: 50px 300px;
}